<!DOCTYPE html>
<html>
<head>
<style>
table, form {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>

</head>
<body>
<div align="center">
<h2>Item Table</h2>
<table>
  <tr id='itemStart'>
    <th width="10%"><center>ID<center></th>
    <th>Name</th>
    <th width="10%">Quantity</th>
    <th width="10%">Amount</th>
  </tr>

    <script>

    // List all items

        var xmlHttp = new XMLHttpRequest();

        xmlHttp.onreadystatechange = function(){
            if(xmlHttp.readyState==4 && xmlHttp.status == 200){
                var tableStringData = '';
                JSON.parse(xmlHttp.response).forEach(element => {
                    tableStringData += (`\n<tr>\n
                        <td><center> ${element.intID} </center></td>\n
                        <td>${element.strName}</td>\n
                        <td>${element.intQuantity}</td>\n
                        <td>${element.dcmlAmount}</td>\n
                        </tr>`);
                });
            //    console.log(tableStringData);
                document.getElementById('itemStart').insertAdjacentHTML('afterend', tableStringData);
            //    document.getElementById('itemTable').innerHTML = itemTable;
            }

        }

        xmlHttp.open("GET", "/items", true);
        xmlHttp.send();
    </script>

</table>
<br>

<script>
function isEmpty(obj) {
  for (const n in obj) if (hasOwnProperty(obj, n) && obj[n]) return false; // eslint-disable-line
  return true; 
}

function removeItem() {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("DELETE", `/items/${document.getElementById('itemID').value}`, true);

    xmlHttp.onreadystatechange = function(){
        if(xmlHttp.readyState==4 && xmlHttp.status == 200){
            console.log(xmlHttp.response);
            let response = JSON.parse(xmlHttp.response);
            if (!response.affectedRows) {
                alert(`${document.getElementById('itemID').value} doesn't exist!`);
            } else {
                alert(`${document.getElementById('itemID').value} successfully removed!`);
                document.location.reload();
            }
        } 
    }
    xmlHttp.send();
}


function updateItem() {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("PUT", `/items/${document.getElementById('itemID').value}`, true);
    xmlHttp.setRequestHeader("Content-type", "application/json");

    var item = {
        name: document.getElementById('name').value,
        quantity: document.getElementById('quantity').value,
        amount: document.getElementById('amount').value
    }

    xmlHttp.onreadystatechange = function(){
        console.log(xmlHttp.readyState + ", " + xmlHttp.status);
        if(xmlHttp.readyState==4 && xmlHttp.status == 200){
            let response = JSON.parse(xmlHttp.response);
            if (!response.affectedRows) {
                alert(`${document.getElementById('itemID').value} doesn't exist!`);
            } else if (!response.changedRows) {
                alert(`${document.getElementById('itemID').value} not changed!`);
            } else {
                alert(`${document.getElementById('itemID').value} successfully updated!`);
                document.location.reload();
            }
        } 
    }
    xmlHttp.send(JSON.stringify(item));
}

function addItem() {
    // add if not existing ID
    
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("POST", "/items", true);
    xmlHttp.setRequestHeader("Content-type", "application/json");

    var item = {
        name: document.getElementById('name').value,
        quantity: document.getElementById('quantity').value,
        amount: document.getElementById('amount').value
    }

    xmlHttp.onreadystatechange = function(){
        if(xmlHttp.readyState==4 && xmlHttp.status == 200){
            alert(`${item.name} successfully saved! with id of : ${xmlHttp.response}`);
            document.location.reload();
        } else if (xmlHttp.readyState==4 && xmlHttp.status == 400) {
            alert(`${item.name} is already saved!`);
        }
    }

    xmlHttp.send(JSON.stringify(item));
}

</script>


<form action="#">
  Item ID:
  <input id='itemID' type="number" name="itemID" min="0" value="0">
  &nbsp; Name:
  <input id='name' type="text" name="name"> 
  &nbsp; Quantity:
  <input id='quantity' type="number" value="0" name="quantity" min="0" maxlength = "6">
  &nbsp; Amount:
  <input id='amount' type="number" value="0" name="amount" min="0" maxlength="7"> 
  
</form> 
<br>
   &nbsp;&nbsp; <button onclick="addItem()">Add</button>
   &nbsp;&nbsp; <button onclick="updateItem()">Update</button>
    &nbsp; <button onclick="removeItem()">Delete</button>
</div>

</body>
</html>
